body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;

}

/* header e footer */

header, footer{ 

    color: white;
    padding: 0.5em; 
}

/* header */

header {
   background-image: linear-gradient(#003366, #002225);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

/* footer */

footer {
    background-image: linear-gradient(#003366, #002225);
    margin-top: auto;
}

footer a {
    color: white;


}

div#logo {
    margin: auto 0;

}

div#logo * {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.5em; 

}

div#logo span {
    font-size: 2em;
    font-weight: bold;

}

div#usuarios * , footer span {
    display: block;
    margin-bottom: 0.5em;
    
}

div#usuarios span {
    text-align: right;
}

div#usuarios button {
    margin-left: auto;
    border: 1px solid;
}

@media screen and (max-width: 430px) {
    div#usuarios{
        margin-top: 1em;
    }
    div#usuarios span {
        text-align: left;
    }
    div#usuarios button {

        margin-left: 0;
    }
}


/* Main */

main {
    background-image: linear-gradient(#555252, white);
    padding: 1em;

}

/* Nav */

nav {
    background-color: #555252;
    border: 1px solid white;
    border-bottom: 1px solid white;
}

nav ul{
    margin: 0;
    padding: 0; 
}

nav ul li {
    /* padding: 1em; */
    display: inline-block;
    /* color: white;
    text-decoration: none; */
    
}

nav ul li a {
     padding: 1em;
    display: inline-block;
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: #cccccc;
    color: white;
}

/* nav ul li {
    display: inline-block; */


nav li#dropdown:hover div#dropdown_conteudo {
    display: block;

}

nav div#dropdown_conteudo {
    display: none;
    position: absolute;
    background-color: #383838;
    border:1px solid white;
    box-shadow: 0px 2px 4px 0px black;
}

nav div#dropdown_conteudo a {
    display: block;
}

@media screen and (max-width: 730px) {
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li a {
        width: 100%;
    }
    nav div#dropdown_conteudo {
        position: relative;
        border: none;
        box-shadow: none;
    }
}

/* Alertas */

div.alerta{
    border: 1px solid;
    padding: 1em;
    max-width: 400px;
    margin: 1em auto;
    word-wrap: break-word;
    /* position: absolute; */
    top: 0.5em;
    right: 0;
    left: 0;
    opacity: .9;
}

div.alerta span{
    float: right;
    font-size: 1.25em;
    cursor: pointer;
}

div.alerta.erro{
    background-color: #c42626;
    color:white;
    border: #0a0a0a;

}

div.alerta.sucesso{
    background-color: #0c08f5;
    color: white;
    border: #0a0a0a;

}

/* Tabela */

table {
    border-spacing: 0.1em;
    margin: 0.5em auto;
    /* width: 50%; */
    overflow-x: auto;
    display: block;
}

table th {
    background-color: #302f2f;
    color: white;

}

table th, table {
    padding: 0.5em;
}

table tfoot td {
    border-top: 1px solid white;
    text-align: center;
}

table tbody tr:nth-child(odd){
    background-color: rgb(136, 136, 139);

}

table tbody tr:nth-child(even){
    background-color: #dfe2df;

}

table tbody tr:hover {
    background-color: rgb(118, 122, 122);
}

@media  screen and (max-width: 480px) {
    form{
        width: 85%;
        text-align: left;
    }

    form div.grid {
        grid-template-columns: 1fr;
    }
    
}

/* Botões */

button, input[type="button"], input[type="submit"] {
    background-color: #26c433;
    color: white;
    border: none;
    border-radius: 4px;
    height: 2em;
    cursor: pointer;
    border: 1px solid;
}

button.excluir:hover:not(:disabled) {

    background-color: #c42626;
}

button:disabled
input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: #26c433;
}

/* verificar */
button.hover, 
input[type="button"]:hover, 
input[type="submit"]:hover {
    background-color: #c42626; 
    
}
    
/* comandos */

 div#comandos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5em 0.1em;
    border-bottom: 1px solid #003366;
    align-items: center;

 } 


table tbody td:last-child{
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

/* formularios */

form {
    margin: auto;
    text-align: right;
    width: fit-content;

}

form div.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 0.5em;
    align-items: center;
    margin-bottom: 0.5em;
}

label::after {
    content: ":";

}

input:required:invalid, 
select:required{
    border: 1px solid #eb0808;
    
}